{% extends 'core/base.html' %}

{% block title %}inicio{% endblock %}

{% load static %}

{% block background %} {% static 'core/img/carpinteria.png' %} {% endblock %}

{% block headers %}
<h1>Madera Viva</h1>
          
<span class="subheading">Dando forma a tus sueños con madera y creatividad"</span>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="site-heading">
        <h1>BIENVENIDOS A MADERA VIVA</h1>
        
        <span class="subheading">Madera Viva es una empresa líder en el sector de trabajos en madera, especializada en la creación de productos y servicios de alta calidad. Nuestro equipo de expertos artesanos combina habilidades tradicionales con técnicas innovadoras para ofrecer soluciones personalizadas y únicas. Desde muebles hechos a medida hasta estructuras arquitectónicas impresionantes, en Madera Viva nos enorgullece ofrecer productos que resaltan la belleza y durabilidad de la madera. Nos esforzamos por superar las expectativas de nuestros clientes, brindando atención meticulosa a los detalles y priorizando la satisfacción de cada proyecto. Con nuestra pasión por la madera y nuestro compromiso con la excelencia, en Madera Viva creamos piezas que transforman espacios y perduran en el tiempo.</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}



